.acceuille {
  color: white;
  margin-top: 100px;
  margin-left: 100px;
  padding: 60px 20px 120px 20px;
}
.acceuille h2 {
  font-size: 3em;
  margin-bottom: 0;
  color: rgb(248, 210, 210);
}
.acceuille h1 {
   margin-bottom: 30px;
    font-size: 5em;   
   font-family: "Epunda Slab", serif;
  
}
.acceuille p {
  max-width: 400px;
   margin-bottom: 100px;

  font-size: 1em;
  color: white;
}
.btn{
  background-color: rgb(236, 162, 25);
  border: none;
}